<ion-header>
  <ion-toolbar color="sucess">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de CheckBox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-checkbox></ion-checkbox>
  <ion-checkbox disabled="true"></ion-checkbox>
  <ion-checkbox checked="true"></ion-checkbox>

  <ion-checkbox color="primary"></ion-checkbox>
  <ion-checkbox color="true"></ion-checkbox>
  <ion-checkbox color="danger"></ion-checkbox>
  <ion-checkbox color="ligth"></ion-checkbox>
  <ion-checkbox color="dark"></ion-checkbox>

  <ion-item>
    <ion-label>Padrão</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Desabilitado</ion-label>
    <ion-checkbox disabled = "true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checked</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checked e Desabilitado</ion-label>
    <ion-checkbox disabled="true" checked="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Check no Inicio</ion-label>
    <ion-checkbox checked="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checked com cor</ion-label>
    <ion-checkbox checked="primary"></ion-checkbox>
  </ion-item>

  <h3>Meses do Ano</h3>
  <ion-list>
    <ion-item *ngFor="let mes of mesesDoAno">
      <ion-label>{{mes.nomeMes}}</ion-label>
      <ion-checkbox checked="{{mes.nomeMes}}" [(ngModel)]="mes.marcado" color="danger"></ion-checkbox>
    </ion-item>
  </ion-list>
<ion-button expand="block" (click)="exibirMesesDoAno()">Exibir Resultado</ion-button>

</ion-content>