<ion-header>
  <ion-toolbar color="secondary">
    
    <ion-card-header>
      <ion-subtitle>Prazo para compras ate 29/02</ion-subtitle>
      <ion-card-title>Camarote Esgotado</ion-card-title>
      <ion-card-content>
        No proximo fim de semana vai começar a PUTARIA HAHAH COM MC Mister Catra.
      </ion-card-content>
    </ion-card-header>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de Show Wesley Safadão</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-card>
<ion-img src="..\assets\imagem-ionic1.jpg" ></ion-img>
<ion-card-content> 
 <ion-card-title> São Luska Ji-Parana oferta curso de como ser estranho </ion-card-title>
<p>O centro Universitario São Luska de Ji-Pa ira ofertar para os alunos de S.I um curso de como ser estralho com o professor Luiz </p>
</ion-card-content>  
</ion-card>
</ion-content>


<ion-card-header>
<ion-card-subtitle>Oportunidade de Trabalho</ion-card-subtitle>
  <ion-card-title>Contrata-se Dev. Mobile para trabalhar de pedreiro</ion-card-title>
  <ion-card-content>
    Grande empresa de tecnologia contrata desenvolvimento de aplicativos.
  </ion-card-content>
</ion-card-header>

<ion-card>
  <ion-item href="https://pt.wikipedia.org/wiki/Wi-Fi" class="activated">
    <ion-icon name="wifi" slot="start"> </ion-icon>
    <ion-label>Wifi</ion-label>
  </ion-item>

  <ion-item href="#" class="activated">
    <ion-icon name="warning" slot="start"> </ion-icon>
    <ion-label>Atenção</ion-label>
  </ion-item>

  <ion-item href="https://pt.wikipedia.org/wiki/Tropa_dos_Lanternas_Verdes#:~:text=A%20Tropa%20dos%20Lanternas%20Verdes%20%28em%20ingl%C3%AAs%2C%20Green,Lanternas%20Verde%20publicadas%20pela%20editora%20americana%20DC%20Comics." class="activated">
    <ion-icon name="bicycle" slot="start"> </ion-icon>
    <ion-label>Tropa dos Lanternas Verdes</ion-label>
  </ion-item>
</ion-card>