<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input></ion-input>
  <ion-input value="teste"></ion-input>
  <ion-input placeholder="Digite um texto"></ion-input>
  <ion-input clearInput value="Limpar um texto"></ion-input>
  <ion-input type="number" value="333"></ion-input>
  <ion-input placeholder="Desabilitado" disabled></ion-input>
  <ion-input value="Somente Leitura"></ion-input>
  <ion-input type="password" placeholder="Cadastre a senha"></ion-input>

  <ion-item>
    <ion-label position="floating"> Texto Padrão</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed"> Texto Fixo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Texto Superior</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
